.content_x {
  // Content
  min-height: calc(100vh) !important;
  // margin: 5px 24px 0;
}

.logo_container {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 0px 2px;
  overflow: hidden !important;
  h3 {
    // font-size: 1.6rem !important;
    // font-weight: 600 !important;
    overflow: hidden;
    word-break: normal;
    text-align: center;
    margin-top: 16px;
    margin-left: 10px;
  }
}

.nav_links {
  //span
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: "#263f97";
  cursor: pointer;
  svg {
    fill: "#e42536";
  }

  /* :hover {
    color: #e42536;
  }
  :hover svg {
    fill: #e42536;
  } */
}
