.signin_container {
  display: flex;
  border-radius: 20px;
  background: var(--Text-Color-50, #fff);
  box-shadow: 2px 3px 22.4px 2px rgba(96, 46, 223, 0.1);
  padding: 60px 49px;
}

.sign_up_container {
  display: flex;
  border-radius: 20px;
  background: var(--Text-Color-50, #fff);
  box-shadow: 2px 3px 22.4px 2px rgba(96, 46, 223, 0.1);
  padding: 60px 49px;
}

.main_heading {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.form_heading {
  text-overflow: ellipsis;
  font-family: "Red Hat Display";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 32px 0px;
}

.forgot_password_container {
  color: var(primary-color);
  text-overflow: ellipsis;
  // font-family: Red Hat Display;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  width: max-content;
}

.back {
  color: var(primary-color);
  // font-family: Red Hat Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  cursor: pointer;
}

.form_details {
  color: var(--Primary-Color, #141414);
  font-feature-settings:
    "clig" off,
    "liga" off;
  // font-family: Red Hat Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.resend_details {
  color: var(--Primary-Color, #141414);
  font-feature-settings:
    "clig" off,
    "liga" off;
  // font-family: Red Hat Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
