$primary-color: #602edf;
$layout-bg-color: #f6f8f8;
$tertiary-layout-bg-color: #f3f5fb;

a {
  text-decoration: none;
  color: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

.ant-form-item-explain-error {
  text-overflow: ellipsis;
  font-size: 12px;
  font-weight: 500;
}

h1.ant-typography {
  color: var(--Text-Color-900, #171717) !important;
  font-family: var(--font-dm-sans) !important;
  font-size: 32px !important;
  font-style: normal;
  font-weight: 700 !important;
  line-height: normal !important;
  margin: 0 !important;
}
