.login_container {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background: #0f072d;
  justify-content: center;
}

.sign_up_container {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background: #0f072d;
  justify-content: center;
}
